* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.body {
    display:flex;
    margin:0px;
    padding:0px;
}

.header {
    background-color:#1F2937;
    display:flex;
    flex-direction: column;
    padding-left:150px;
    padding-right:150px;
    padding-bottom: 100px;;
}

.hero-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
    margin-top:5px;
    margin-bottom: 75px;
}

.hero-main {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom:2px;
}

.hero-text {
    color:#e5e7eb;
    font-size: 18px;
    margin-bottom:2px;
}

.description {
    Gap: 20px;
    width:450px;
}

.links {
    display:flex;
    gap:20px;
}

.main {
    Display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;

}

.Logo {
    font-size: 24px;
    color:#f9faf8;
}

a {
    text-decoration:none;
    font-size:18px;
    padding: 0;
    margin:0; 
    color: #e5e7eb;
}

p {
    margin:0;
}

.picture img {
    width: 450px;
    height:auto;
}

button.sign-up {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom:4px;
    background:#3882f6;
    color:#f9faf8;
    border-radius: 5px;
    border:none;
}


.info {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top: 20px;
    padding-bottom:40px;
    padding-left: 125px;
    padding-right:125px;
}

.title {
    font-size:36px;
    color:#1f2937;
    font-weight: 900;
    padding-bottom: 20px;
}

.boxes img {
    width: 150px;
    height:150px;
    border-radius:5px;
    border: 3px solid #3882f6;
    
}
.boxes > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    width:150px;
    text-align:center;
}
 
.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;

}


.quotes {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #e5e7eb;
    
}

.quote {
    font-size:36px;
    font-style:italic;
    font-weight:lighter;
    color:#1f2937;
    margin:0;
}
.quote > p {
    display:flex;
    flex-wrap:wrap;
}

.Rock {
    margin-top:50px;
    margin-bottom:50px;
    width:750px;
}



.credit {
    display:flex;
    justify-content: flex-end;
}